<a href="https://colab.research.google.com/github/present42/PyTorchPractice/blob/main/Fluent_Python_ch2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First way of grouping sequence types
* Container Sequences
 - e.g. `list`, `tuple`, `collections.deque`
 - can hold heterogenous items

* Flat Sequences
 - e.g. `str`, `bytes`, `array.array`
 - hold items of one simple type

## Second way of grouping sequence types
* Mutable Sequences
 - e.g. `list`, `bytearray`, `array.array`, `collections.deque`
* Immutable Sequences
 - e.g. `tuple`, `str`, `bytes`

In [ ]:
from collections import abc

built-in concrete sequence types are *virtual subclasses* of `MutableSequence`, `Sequence`

In [ ]:
issubclass(tuple, abc.Sequence)
# issubclass(list, abc.Sequence)

True

In [1]:
x = 'ABC'
codes = [ord(x) for x in x]

In [4]:
codes = [last := ord(c) for c in x]

In [5]:
last

67

In [6]:
codes

[65, 66, 67]

In [10]:
symbols = "$¢£¤¥¦§"
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 164, 165, 166, 167]

In [12]:
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

In [13]:
beyond_ascii

[162, 163, 164, 165, 166, 167]

In [14]:
%%timeit
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]

1.14 µs ± 105 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [15]:
%%timeit
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))

1.37 µs ± 312 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [16]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]

In [17]:
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [18]:
tshirts = [(color, size) for size in sizes
                          for color in colors]

In [19]:
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

## Generator Expressions
 - It saves memory because it yields items one by one using the iterator protocol instead of building a whole list just to feed another constructor

In [22]:
symbols = "$¢£¤¥¦§"
tuple(ord(symbol) for symbol in symbols)

import array
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 164, 165, 166, 167])

In [23]:
for tshirt in (f'{c} {s}' for c in colors for s in sizes):
  print(tshirt)

black S
black M
black L
white S
white M
white L

In [24]:
type(f'{c} {s}' for c in colors for s in sizes)

generator

## Tuples Are Not Just Immutable Lists
 - also used as records with no field names

In [26]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)
traveler_ids = [('USA', '3192319'), ('BRA', 'CE230124'), ('ESP', 'XDA12031')]
for passport in sorted(traveler_ids):
  print('%s/%s' % passport)

BRA/CE230124
ESP/XDA12031
USA/3192319

In [29]:
for country, _ in traveler_ids: # unpacking
  print(country)

USA
BRA
ESP

### Tuples as Immutable Lists
 - Clarity
 - Performance: uses less memory than a list of the same length, allows Python to do some optimization

In [32]:
a = (10, 'alpha', [1, 2])
b = (10, 'alpha', [1, 2])

In [33]:
a == b

True

### Caveat
- Tuples with mutable items can be a source of bugs!!!

In [34]:
b[-1].append(99)

In [35]:
a == b

False

In [36]:
b

(10, 'alpha', [1, 2, 99])

In [37]:
def fixed(o):
  try:
    hash(o)
  except TypeError:
    return False
  return True

#### `hash()`
 - An object is only hashable if its value cannot ever change

In [38]:
tf = (10, 'alpha', (1, 2))
tm = (10, 'alpha', [1, 2])

In [39]:
fixed(tf)

True

In [40]:
fixed(tm)

False

In [1]:
lax_coordinates = (33.9425, -118.408056)

In [3]:
latitude, longitude = lax_coordinates

In [5]:
a = 3
b = 5
b, a = a, b
print(a, b)

5 3

In [6]:
divmod(20, 8)

(2, 4)

In [7]:
t = (20, 8)

In [8]:
divmod(*t)

(2, 4)

In [9]:
quotient, remainder = divmod(*t)

In [10]:
quotient, remainder

(2, 4)

In [11]:
import os

In [12]:
_, filename = os.path.split('/home/george/.ssh/id_rsa.pub')
filename

'id_rsa.pub'

In [18]:
a, b, *rest = range(5)

In [21]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [26]:
a, b, *c = range(2)

In [27]:
a, *b, c = range(2)

In [29]:
*head, b, c, d = range(5)

In [41]:
def fun(a, b, c, d, *rest):
  return a, b, c, d, rest

In [42]:
fun(*[1, 2], 3, *range(4, 7)) # expect (1, 2, 3, 4, (5, 6))

(1, 2, 3, 4, (5, 6))

In [44]:
*range(4), 4

(0, 1, 2, 3, 4)

In [45]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [47]:
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

### Nested Unpacking

In [49]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.4214)),
    ('Delhi NCR', 'IN', 21.942, (28.613412, 77.2130)),
    ('Mexico City', 'MX', 20.942, (19.4342, -99.13333)),
    ('New York-Newark', 'US', 20.104, (40.805325, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.529, -46.1421)),
]

print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for name, _, _, (lat, lon) in metro_areas:
  if lon <= 0:
    print(f'{name:15} | {lat:>9} | {lon:>9}')

                |  latitude | longitude
Mexico City     |   19.4342 | -99.13333
New York-Newark | 40.805325 | -74.020386
Sao Paulo       |   -23.529 |  -46.1421

#### Caveat
- single element tuple must be written with a trailing comma

In [52]:
(record, ) = (3, )

#### Note
- Sequence pattern can match instances of most actual or virtual subclasses of `collections.abc.Sequence`, with the exception of `str`, `bytes`, and `bytearray`
- `str(name)`, `float(name)` look like constructor calls But! in the context of a pattern,that syntax performs a runtime type check

In [68]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.4214)),
    ('Delhi NCR', 'IN', 21.942, (28.613412, 77.2130)),
    ('Mexico City', 'MX', 20.942, (19.4342, -99.13333)),
    ('New York-Newark', 'US', 20.104, (40.805325, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.529, -46.1421)),
]

print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
for record in metro_areas:
  match record:
    # optinal guard starting with "if" is evaluated only if the pattern matches
    case [str(name), *extra, (float(lat), float(lon)) as coord] if lon <= 0:
      print(f'{name:15} | {lat:>9} | {lon:>9}')

                |  latitude | longitude
Mexico City     |   19.4342 | -99.13333
New York-Newark | 40.805325 | -74.020386
Sao Paulo       |   -23.529 |  -46.1421

#### Note
- If you wanna treat an obj of `str`, `bytes`, `bytearray` as a sequence subject, convert it in the `match` clause

In [59]:
phone = '42345'

match tuple(phone):
  case ['1', *rest]:
    print("North America and Carribean")
  case ['2', *rest]:
    print("Africa and some territories")
  case ['3' | '4', *rest]:
    print("Europe")
  case _:
    print("IDK")

Europe