<a href="https://colab.research.google.com/github/present42/PyTorchPractice/blob/main/Fluent_Python_ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 6. Object References, Mutability, and Recycling

A name tis not the object; a name is a separate thing.

## Varialbes are not boxes

Python variables are like reference variables in JAVA.

In [ ]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

It would be better to say a variable is assigned to the object, not the other way around. Object is created before the assignment, after all.

In [ ]:
class Gizmo:
  def __init__(self):
    print(f"Gizmo id: {id(self)}")

x = Gizmo()

Gizmo id: 133687668849872

In [ ]:
y = Gizmo() * 10

Gizmo id: 133687668845408

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [ ]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

## Identity, Equality, and Aliases

In [ ]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [ ]:
id(charles), id(lewis)

(133687666433216, 133687666433216)

`lewis` and `charles` are aliases (two variables are bounded to the same objet)

In [ ]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [ ]:
alex = {'name': "Charles L. Dodgson", 'born': 1832, 'balance': 950}
# __eq__ implementation in the dict class
alex == charles

True

In [ ]:
# identity comparision
alex is not charles

True

Choosing between `==` and `is`
 - `==` compares the values of objects
 - `is` compares their identities
  * cannot be overloaded
  * ex. singleton
  * `x is None`

## Relative Immutability of Tuples

In [ ]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2

True

In [ ]:
id(t1[-1])

133687666556352

In [ ]:
t1[-1].append(99)

In [ ]:
t1

(1, 2, [30, 40, 99])

In [ ]:
id(t1[-1])

133687666556352

In [ ]:
t1 == t2

False

## Copies are shallow by default

In [ ]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

Or, equivalently,

In [ ]:
l2 = l1[:]

In [ ]:
l2 == l1

True

In [ ]:
l2 is l1

False

In [ ]:
id(l1[1]) == id(l2[1])
id(l1[2]) == id(l2[2])

True

In [ ]:
l1[1].append(33)

In [ ]:
l2

[3, [55, 44, 33], (7, 8, 9)]

In [ ]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1) # [3, [66, 44], (7, 8, 9), 100]
print('l2:', l2) # [3, [66, 44], (7, 8, 9)]

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [ ]:
l2[1] += [33, 22] # += changes the list in place
l2[2] += (10, 11) # OH...! += on a tuple creates a new tuple and rebinds the variable l2[2] here
print('l1:', l1) # [3, [66, 44, 33, 22], (7, 8, 9), 100]
print('l2:', l2) # [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

## How to do deepcopy

In [ ]:
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [ ]:
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(133687667265872, 133687667268176, 133687667276768)

In [ ]:
bus1.drop('Bill')
bus2.passengers

['Alice', 'Claire', 'David']

In [ ]:
bus3.passengers

['Alice', 'Bill', 'Claire', 'David']

In [ ]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(133687664859328, 133687664859328, 133687666582592)

### Cyclic References

In [ ]:
a = [10, 20]
b = [a, 30]
a.append(b)

In [ ]:
a

[10, 20, [[...], 30]]

In [ ]:
from copy import deepcopy
c = deepcopy(a)

In [ ]:
c

[10, 20, [[...], 30]]

## Function Parameters as Reference

In [ ]:
def f(a, b):
  a += b
  return a

In [ ]:
x = 1
y = 2
f(x, y)

3

In [ ]:
x, y

(1, 2)

In [ ]:
a = [1, 2]
b = [3, 4]
f(a, b)

[1, 2, 3, 4]

In [ ]:
a, b

([1, 2, 3, 4], [3, 4])

In [ ]:
t = (10, 20)
u = (30, 40)
f(t, u)

(10, 20, 30, 40)

In [ ]:
t, u

((10, 20), (30, 40))

15:26 -

## Mutable Types as Parameter Default: Bad Idea

In [1]:
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [2]:
bus1 = HauntedBus(["Alice", "Bob"])

In [3]:
bus1.passengers

['Alice', 'Bob']

In [4]:
bus1.pick("Charlie")
bus1.drop("Alice")

In [5]:
bus1.passengers

['Bob', 'Charlie']

In [6]:
bus2 = HauntedBus()

In [7]:
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [8]:
bus3 = HauntedBus()

In [10]:
bus3.passengers

['Carrie']

In [11]:
bus3.pick('Dave')

In [12]:
bus2.passengers

['Carrie', 'Dave']

In [13]:
bus2.passengers is bus3.passengers

True

The problem is that each default value is evaluated when the function is defined.

In [16]:
dir(HauntedBus.__init__)
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

## Defensive Programming with Mutable Parameters

In [19]:
class TwighlightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      # self.passengers = passengers # shallow copy; self.passengers and passengers refer to the same list obj
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [20]:
team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwighlightBus(team)
bus.drop('Sue')
bus.drop('Tina')
team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

## `del` and Garbage Collection

`del` is not a function; it's a statement
`del` destroyes the reference, not the object

In [21]:
a = [1, 2]
b = a
del b
a

[1, 2]

In [22]:
b = [3]

In [27]:
import weakref

s1 = {1, 2, 3}
s2 = s1

def bye():
  print("...like tears in the rain")

ender = weakref.finalize(s1, bye)
ender.alive

True

In [28]:
ender.alive

True

In [29]:
del s1

In [30]:
s2 = 'abc'

In [31]:
ender.alive

False

## Tricks Python Plays with Immutables

For a tuple `t`, `t[:]` does not make a copy, but returns a reference to the same object

In [32]:
t1 = (1, 2, 3)
t2 = tuple(t1)
t2 is t1

True

In [33]:
t3 = t1[:]
t3 is t1

True

In [34]:
t4 = t1[:1]
t4

(1,)

In [35]:
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t2 is t1

False

In [36]:
s1 = 'abc'
s2 = 'abc'
s1 is s2

True